.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

/*Sliding Doors:*/

body{
  background: url('https://storage.googleapis.com/webdesignledger.pub.network/LaT/edd/2016/02/experimental-grunge-texture-12-1560x1170.jpg');

}

.header {
  background-color: "black";
  background: url('https://storage.googleapis.com/webdesignledger.pub.network/LaT/edd/2016/02/beautiful-and-colorful-grunge-texture-9-1560x2080.jpg');
  background-size: cover;
  opacity: 5.0;
}

.header-buttons {
  left: 50%;
  line-height: 55px;
}

.sliding-doors{
  opacity: 1.0;
  width: 80vw;
  height: 80vh;
  max-width: 40%;
  position: relative;
  left: 60%;
  margin-left: -40vw;
  overflow: hidden;
  background-size: cover;
  background-position: -200px 0;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;

  border: 30px groove #141414;
  outline: 100px solid #000201; 
  outline-offset: 20px;
}

.sliding-doors:before,
.sliding-doors:after{
  content: "";
  width: 50%;
  height: 100%;
  left: 0;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  -webkit-transition: 4000ms;
  border: 5px solid rgba(0, 0, 0, 0.5);
}

.sliding-doors:before {
  background: url('https://media.freestocktextures.com/cache/ea/3d/ea3d7ddf85d051f84a4c301380da0104.jpg');
  background-size: cover;
}
  
.sliding-doors:after {
    background: url('https://media.freestocktextures.com/cache/ea/3d/ea3d7ddf85d051f84a4c301380da0104.jpg');
  background-size: cover;

  background-position: -40vw 0;
}

.sliding-doors:hover:before{
  left: -40vw;
  transition: all 3s ease-in-out;
}

.sliding-doors:hover:after{
  left: 40vw;
  transition: all 3s ease-in-out;
}

.vertical-nav {
  min-width: 10rem;
  width: 20rem;
  height: 90vh;
  left: 30%;
  opacity: 0.8;
  position: absolute;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  margin-top: 32%;
  margin-left: 40%;
  width: 200px;
  height: 600px;
  outline: 50px solid #000201;
  outline-offset: -10px;
}

.navbar-brand {
  background-color: #34ffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  opacity: 1.0;
  color: #00b4b4;
  margin: 26px;
  width: 30px;
  height: 30px;
  position: relative;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
  box-shadow: 0px 3px 3px #aaa, inset 0px 2px 3px #fff;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  
  cursor: pointer;
  text-align: center;
  padding: 5px;
}

.navbar-brand-top {
  opacity: .7;
  margin: 30px;
  width: 60px;
  height: 60px;
  padding-top: 40%;
  padding-bottom: 20%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  float: right;/*
  line-height: 55px;*/
  border-radius: 10%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 100%;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  
  cursor: pointer;
  text-align: center;

  background: #1eb65b;
  color: #0b4824;
  box-shadow: 5px 20px 30px #aeffdf,
              inset 0px 3px 3px hsla(180, 100%, 50%, 0.9);
}

.navbar-brand-top:hover {
  text-decoration: none;

  color: #14ffa1;
  background: #168a45;
  box-shadow: 5px 20px 30px #14ffa1, inset 5px 5px 5px 3px #0b4824;
}

.navbar-brand-slidy {
  opacity: .6;
  margin: 5px;
  padding: 15px;
  padding-bottom: 30px;
  width: 67px;
  height: 67px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 29px;
  border-radius: 0%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 40px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  
  cursor: pointer;
  text-align: center;
  border-top: 3px solid #14ffa1;
  border-right: 3px solid #009458;

  color: #3d3d3d;
  background: #003100;
  box-shadow: 5px 30px 40px #14ffa1, inset 5px 5px 5px 3px #0b4824;
}

.navbar-brand-slidy.indicate-floor {
  text-decoration: none;
  opacity: 1.0;
  background: #00dd15;
  color: #0b4824;
  box-shadow: 5px 20px 30px #aeffdf,
              inset 0px 3px 3px hsla(180, 100%, 50%, 0.9);
  transition: all 2.0s ease;
}

.navbar-brand:hover {
  text-decoration: none;
  color: #34ffff;
  background: #d9d9d9;
  box-shadow: 0px 2px 3px #bfff45,
              inset 0px 3px 3px hsla(180, 100%, 50%, 0.9);
}

.navbar-brand:before {
  content: "";
  display: block;
  background: #fff;
  border-top: 2px solid #ddd;
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 8px 28px #ddd;
  transition: all 0.5s ease;
  border-color: hsl(180, 100%, 50%);
  color: hsl(180, 100%, 50%);
  text-shadow: 0 0 10px hsla(180, 100%, 50%, 1);
  box-shadow: 0 0 10px 5px hsla(180, 100%, 50%, 0.5),
              inset 0 0 10px 5px hsla(180, 100%, 50%, 0.5);
}

.container {
}

.section-middle {
  margin-top: 500px;
}

.section-elevator {
  text-align: left;
}

.section-buttons {
  text-align: right;
}

.logo {
  opacity: 1.0;
  padding-top: 2%;
  padding-left: 200px;
  padding-right: 530px;
}

.banner-green {
  background: url('https://storage.googleapis.com/webdesignledger.pub.network/LaT/edd/2016/02/beautiful-and-colorful-grunge-texture-9-1560x2080.jpg');
  background-size: cover;
}

.about {
  background-color: #fff;
}

.about-blurb {
  top:0;
  left:0;
  bottom:0;
  right:0;
  height:100%;
  width:100%;
  position: fixed;
  background-color: "white";
}

.modal-blurb {

  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  width: 60%;
  position: relative;
  transition: all 5s ease-in-out;
  font-family: "Trebuchet MS", Helvetica, sans-serif;

}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 80px;
  font-weight: bold;
  text-decoration: none;
  color: "white";
}
.popup .close:hover {
  color: "white";
}

.banner-black{
  background: url('https://storage.googleapis.com/webdesignledger.pub.network/LaT/edd/2016/02/subtle-grunge-texture-7-1560x1170.jpg');
  background-size: cover;
}

.slidy-holder {
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 2%;
  margin-left: 9.5%;
}